body
{
font-family: Tahoma, Geneva, sans-serif;
font-size:14px;
line-height: 1.6em;
text-align: justify;
background: #ffffff /*url(../images/top_bg.png) 0 0 repeat-x*/;
}

p, ul, ol{margin: 1em 0;}
ul, ol{margin-left: 2em;}

h1,h2,h3,h4,h5,h6{margin: 0.5em 0;line-height: 1.2em;color: #ff6e00}
h1{font-size:1.5em}
h2{font-size:1.3em}
h3{font-size:1.2em}
h4{font-size:1.1em}
h5{font-size:1.0em}

strong{font-weight:bold}
em{font-style: italic;}

a:active, a:focus, img {outline:none;}

#wrapper {
	width: 1260px;
	
	min-height: 1000px;
	overflow: hidden;
	margin: 0 auto;	
	background: #ffffff url(../images/top_bg.png) 0 0 repeat-x;
	/*background: transparent url(../images/all_bg.png) left bottom repeat-x;*/
	position: relative;
	padding: 0 0;
	z-index: 0;
	margin: 0 auto;
	border-left: 1px solid #ff6e00;
	border-right: 1px solid #ff6e00;
	}
	#wrapleft{background: transparent url(../images/orange.png) 230px 0 repeat-y;min-width: 1260px;}
	#wrapright{background: transparent url(../images/orange2.gif) right 0 repeat-y;min-width: 1260px;}
	#head {
		height: 154px;		
		padding: 0px;
		clear: both;
		background: url(../images/head_bg.png) top center no-repeat #ffffff;
		overflow: hidden;
		position: relative;
		}
		#head #left_head{
		height: 154px;	
		width: 210px;
		position: absolute;
		left: 0;
		top: 0;
		background: url(../images/head_left_top.png) top center no-repeat #ffffff;
		z-index: 2;
		}
		#head #headtop{display: block; height: 99px; overflow: hidden; width: 100%; position: relative; margin: 0;}
		#head #headmenu{display: block; height: 60px; overflow: hidden; width: 100%; position: relative; margin: 0;background: #ff6e00 url(../images/top_bg.png) 0 -99px repeat-x;}
		#head #logo {position: absolute; left: 220px; top: 0; height: 99px;}
		#head #logo a{display: block; height: 100px; width: 280px;float: left;border: 0;background: url(../images/logo.png) top center no-repeat transparent;}
		
		#head #contact{display: block; height: 100px; width: 584px;position: absolute; right: 0; top: 0; border: 0;background: url(../images/head_contact.png) top center no-repeat transparent;text-indent: -4000px;}
		
		#head #topnav {display: block; height: 53px; float: left;border: 0;padding: 0px;top: 1px;left: 220px;position: absolute}
		#head #topnav ul{display: block; height: 53px;list-style: none; margin: 0; padding: 0 0 0 10px;}
		#head #topnav ul li{display: block; margin: 0 0 0 -2px; padding: 0; float: left; background: url(../images/devider.png) 0 9px no-repeat transparent;}
		#head #topnav ul li:first-child{background: none;}
		#head #topnav ul li a{display: block; margin:0; padding: 0; float: left; color: #ffffff; text-decoration: none; font-size: 1.1em; line-height: 53px; padding: 0px 19px;_padding: 0px 17px;}
		#head #topnav ul li a:hover,#head #topnav ul li.active a{background: #ffffff; color: #000000; text-decoration: underline}
		
		#head #topsearch{display: block; width: 260px; height: 33px; padding: 9px 0; position: absolute; top: 1px; right: -10px;}
		#head #topsearch input.key,#head #topsearch input#search_string{display: block; border: 0; padding: 5px; margin: 0; line-height: 23px; font-size: 1.2em; float: left; width: 150px; height: 23px;}
		#head #topsearch input.button,#head #topsearch input#search{display: block; border: 0; padding: 0 10px; margin: 0; line-height: 23px; font-size: 1.2em; float: left; width: 90px; height: 33px; color: #ffffff; background: #818181; cursor: pointer; text-align: left}
		#head #topsearch p,#head #topsearch #search_string-label,#head #topsearch #search-label{display: none;}
		#head #topsearch dt,#head #topsearch dd{display: block; float: left;}
		
		.searchform{margin: 0; padding: 0; display: block; width: 270px;}
		
	#leftbar, #rightbar{width: 234px;z-index: 1; position: relative;}
	#leftbar{
		
		float: left;
		min-height: 400px;
		}
		#leftbar #icons{	height: 80px; width: 231px; position: relative;background: url(../images/left_top.png) -3px 0px no-repeat #ffffff; border: 0px solid red;}
		#leftbar #icons a#home,#leftbar #icons a#sitemap,#leftbar #icons a#mail{display: block; width: 20px; height: 20px; position: absolute;}
		#leftbar #icons a#home {left: 43px;top: 22px;}
		#leftbar #icons a#sitemap{left: 67px;top: 37px;}
		#leftbar #icons a#mail{left: 96px; top: 44px;}
		
	#leftmenu ul.my-menu{height: 290px; width: 224px; padding: 10px 0 0 20px; background: url(../images/left_top.png) -3px -80px no-repeat #ffffff;}
	#leftmenu{height: 290px; padding: 0 0 0 0px}
	#leftmenu ul{padding: 0 0 0 15px; margin: 0; list-style: none}
	#leftmenu ul li{padding: 0px; display: block; line-height: 1.4em;background: none transparent; clear: both;_padding: 0; _height: 22px;}
	/*#leftmenu ul li.open{background: url(../images/li1op.png) 0px 11px no-repeat transparent;}*/
	#leftmenu ul li a,#leftmenu ul li a.collapsible.collapsed{color: #000000; text-decoration: none;padding: 4px 0 4px 10px; display: block; line-height: 1.4em;background: url(../images/li1.png) 0px 11px no-repeat transparent; margin: 0;}
	#leftmenu ul li a.expanded,#leftmenu ul li a.collapsible, #leftmenu ul li.active a{background: url(../images/li1op.png) 0px 11px no-repeat transparent;}
		
	/*#leftmenu ul li ul {display: none;}	
	#leftmenu ul li.active ul {display: block;}*/
	#leftmenu ul li ul li{padding: 0px; display: block; background: none transparent; overflow: hidden; _padding: 0; _height: 22px;}
	#leftmenu ul li ul li a,#leftmenu ul li.active ul li a{color: #818181; text-decoration: underline;padding: 4px 0 4px 10px; display: block; line-height: 1.4em;background: url(../images/li2.png) 0px 11px no-repeat transparent;_padding: 1px 0 1px 10px;}	
	
	#leftbar .border{width: 190px; border-right: 0px solid #ff6e00;border-bottom: 0px solid #ff6e00; padding: 0px 20px 10px 20px; }
	#leftbar .border h3{display: block; width: 231px; height: 34px; text-align: center; font-size: 1.2em; line-height: 34px; margin: -2px 0 0px -20px; background: url(../images/h3_bg.png) 0px 0px no-repeat transparent;color: #ffffff}
	#leftbar .border h3 a{color: #ffffff; text-decoration: none;}
	#leftbar .border h3 a:hover{color: #ffffff; text-decoration: underline;}
		
	.news {padding: 20px 0 0 0;}
	.news p{margin: 0.7em 0}
	.news .date{font-weight: bold; color: #ff6e00}
	.news a{color: #818181; text-decoration: none;}
		
	#rightbar{		
		float: right;
		min-height: 400px;
		position: relative;
		border: 0px solid blue;
		}
		
	#rightbar .border{width: 190px; border-left: 0px solid #ff6e00;border: 0px solid #ff6e00; padding: 0px 20px 10px 20px; float: right;position: relative; _right: 0px; overflow: hidden;}
	#rightbar .border h3{display: block; width: 231px; height: 34px; text-align: center; font-size: 1.2em; line-height: 34px; margin: 0px -20px 10px -20px; background: url(../images/h3_bg.png) 0px 0px no-repeat transparent;color: #ffffff;}
	
		
	#rightbar #auth{
	background: url(../images/auth_bg.png) top right no-repeat #ffffff;
		float: left;
		min-height: 180px;
		_height: 180px;
		width: 190px;
		padding: 20px 20px 30px 24px;
		margin: 0;
		_padding: 20px 5px 30px 29px;
		_width: 190px;
		position: relative;
		_right: -0px;
		}
		#rightbar #auth form {width: 200px;} 
		#rightbar #auth label {padding: 8px 0 0 86px;font-size: 13px;}
		/*#rightbar #auth #myradio1{margin: 6px 10px 5px 0px;}*/
		#rightbar #auth label.field{color: #818181; display: block; width: 50px; height: 24px; text-align: right; float: left; margin: 5px 0; padding: 0 5px 0 0}
		#rightbar #auth input.field{background: url(../images/field.png) top left no-repeat transparent;display: block; width: 124px; height: 14px;float: left; margin: 5px 0;border: 0; padding: 5px; line-height: 14px; font-size: 14px;}
		
		#rightbar #auth input#enter {display: block; border: 0; padding: 0 10px; margin: 5px 10px 5px 0; line-height: 23px; font-size: 1em; float: right; width: 110px; height: 23px; color: #ffffff; background: #ff6e00; cursor: pointer; text-align: center}
		#rightbar #auth a#reg {display: block; border: 0; padding: 0px; margin: 3px 10px 3px 0; line-height: 19px; font-size: 1em; float: right; width: 110px; height: 19px; color: #ffffff; background: #818181; cursor: pointer; text-align: center; text-decoration: none}
	#rightbar #auth_none{
	background: url(../images/auth_bg_none.png) top right no-repeat #ffffff;
		float: left;
		min-height: 180px;
		_height: 180px;
		width: 190px;
		padding: 20px 20px 30px 24px;
		margin: 0;
		_padding: 20px 5px 30px 29px;
		_width: 190px;
		position: relative;
		_right: -0px;
		}
	
		
	#content {width: 732px; margin: 0; padding: 80px 0px 20px 20px;overflow: hidden;}
	#content hr{color: #ff6e00;background-color: #ff6e00;height: 2px; border: 0;}
	
	#footer{background: transparent url(../images/all_bg.png) left bottom repeat-x;color: #ffffff; text-align: left; line-height: 30px; padding: 10px 32px; height: 34px; clear: both}
	#fs_logo {float:right;padding: 0 0px 0 20px}
	
.niceCheck {
width: 14px;
height: 14px;
display: inline-block;
cursor: pointer;
background: url(../images/checkbox.png);
position: absolute;
top: 93px;
left: 90px;
}
.niceCheck input {
display: none;
}


		
.small {font-size: 10px; line-height: 24px;}
.gray {color: #818181}
.b-orange {font-weight: bold; color: #ff6e00}
.orange {color: #ff6e00}
a.orange {border: 0}
.orange-bottom {border-bottom: 1px solid #ff6e00; overflow: hidden;height:auto}
.orange-bottom-maintext {border-bottom: 1px solid #ff6e00; overflow: hidden;height:auto; display:none}
a {color: #ff6e00; text-decoration: underline;outline: none;}
a:hover {color: #ff6e00; text-decoration: none;}

.hide {display: none;}
.big {font-size: 1.2em}

ul.pixels li, ul.news-list li{padding: 4px 0 4px 10px; display: block; line-height: 1.4em;background: url(../images/li1.png) 0px 11px no-repeat transparent;list-style: none}
ul.news-list{margin-left: 0}

.artic-link {padding: 0px 20px; vertical-align:absmiddle }
.zend_form label {display:block; margin:0; padding:6px 0 0 0;}
.zend_form input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
.zend_form textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
.zend_form #submit { margin:0px 0 0 0; padding: 2px 12px}
/*
.item-list {float: left; width: 100%; overflow: hidden;}
.item-item {display: block; width: 300px; height: 250px; text-align: center; float: left; padding: 13px 30px}
.item-img {display: block; width: 140px; height: 200px; vertical-align: middle; text-align: center; float: left; padding: 0px;border: 1px solid #ff6e00;}
.item-img img {
    width: 100%;
}
.item-descr {display: block; width: 140px; text-align: left; float: left; padding-left: 5px; font-size: 11px}
.item-title {display: block; text-align: left; width: 140px;float: right; font-weight: bold; font-size: 13px; padding: 5px;}
.item-price {display: block; text-align: center; float: left; width: 200px; font-weight: bold; font-size: 13px; padding: 5px;}

.category-list{margin: 0; padding: 0;}
.category-item {display: block; width: 29%; text-align: center; float: left; padding: 13px 2%; height: 225px;}
.category-title {display: block; text-align: center; font-weight: bold}
.category-title a{text-decoration: none;}
.category-img {display: block; width: 180px; height: 180px; background: url(../images/hairdef.jpg) 0px 0px no-repeat #efefef; margin: auto;}

.paginationControl *{float: left; line-height: 20px;}
.paginationControl ul {list-style: none; margin: 0; padding: 0}
.paginationControl ul li, .paginationControl span, .paginationControl a{padding: 0 5px;}

div.shopcart {
    font-size: 10px;
    padding: 10px;
    margin: 10px;
}*/